:root {
  --clr-dgreen: rgb(31, 63, 50);
  --clr-lgreen: rgb(53, 98, 77);
  --clr-dterracot: #472109;
  --clr-terracot: rgb(210, 101, 33);
  --clr-lterracot: rgb(173, 79, 33);
  --clr-gterracot: rgb(90, 79, 72);
  --clr-dbeige: rgb(155, 133, 110);
  --clr-lbeige: rgb(245, 245, 219);
}

/* ---Fonts--- */
.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}
.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}
.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}
.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}
.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}

/* Button links */

/* CSS */
.button-55 {
  align-self: center;
  background-color: transparent;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  /* box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px; */
  box-sizing: border-box;
  color: var(--clr-lterracot);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: transform 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  /* box-shadow: rgba(0, 0, 0, .2) 2px 8px 8px -5px; */
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* ---Styles--- */
body {
    margin: 0;
    font-family: "Merriweather", serif;
    background-color: rgb(245, 245, 219);
    color: var(--clr-dterracot);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('img/wallpaper_puung.png');
}

.page {
  max-width: 700px;
  margin-inline: auto;
}

main {
    padding-inline: 1rem;
}
section {
    padding-inline: 1rem;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Satisfy", sans-serif;
    margin: 0;
    color: var(--clr-dterracot);
}
a {
  /* color: var(--clr-dgreen);
  border: 2px solid var(--clr-dgreen);
  border-radius: 0.2rem;
  padding: 0.3rem; */
  text-decoration: none;
}
p, strong {
  margin: 0;
  text-wrap: pretty;
  line-height: 1.5;
}
ul, ol {
    list-style: none;
    padding: 0;
}
img {
  max-width: 100%;
  width: 100%;
  display: block;
}
figure {
  margin: 0;
}

/* Style Classes */
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 20;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
}
.menu-guide {
    display: flex;
    justify-content: space-around;
    /* background-color: var(--clr-lterracot); */
    background-color: #fba33a;
    width: 100%;
    z-index: 10;
}
.menu-guide ul {
    display: flex;
    gap: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero strong {
  margin-top: 6.5rem;
}
.hero h1 {
  font-size: 3rem;
  margin-block: 1.1rem;
}
.hero-imgs {
  position: relative;
  display: flex;
  gap: 0.5rem;
}
.hero-imgs img {
  width: 400px;
  /* border-radius: 5rem 5rem 0 0; */
  border-radius: 0.1rem;
  /* aspect-ratio: 9 / 16; */
  object-fit: cover;
}
.hero-img-date {
  position: relative;
}
.hero-img-date span{
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 3rem;
  color: rgb(248, 224, 215);
  text-shadow: 1px 0 rgba(123, 79, 47, 0.3), -2px 0 rgba(123, 79, 47, 0.3), 0 1px rgba(123, 79, 47, 0.3), 0 -2px rgba(123, 79, 47, 0.3),
               1px 1px rgba(123, 79, 47, 0.3), -1px -1px rgba(123, 79, 47, 0.3), 1px -1px rgba(123, 79, 47, 0.3), -1px 1px rgba(123, 79, 47, 0.3);
  /* background-color: var(--clr-dgreen) */
}

.countdown {
  display: inline-flex;
  background-color: var(--clr-dterracot);
  color: rgb(240, 215, 215);
  text-align: center;
  border-radius: 0.2rem;
  gap: 1rem;
  padding: 0.5rem;
  margin-inline: auto;
  margin-block: 1.2rem;
}
.countdown p {
  font-size: 1.6rem;
  margin: 0;
}
.countdown span {
  font-size: 0.8rem;
}
.count-container {
  /* background-color: black; */
}

/* All icons of website */
.icon {
  width: 75px;
  margin-inline: auto;
}
.icon.mappin {
  width: 65px;
}
.icon.parking {
  width: 100px;
}
.icon.dresscode-men {
  width: 80px;
}
.icon.dresscode-women {
  width: 58px;
}
.icon.gift {
  width: 65px;
}

.context {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.context p, .context strong {
  display: block;
  max-width: 40ch;
  margin-inline: auto;
  text-align: center;
}
.context-date {
  margin-inline: auto;
  text-align: center;
}
.context-date span, .context-date div span {
  display: block;
  position: relative;
}
.context-date div {
  display: flex;
  gap: 2.75rem;
}
.context-date-day {
  font-size: 1.75rem;
  position: relative;
  margin-bottom: 0.75rem;
}
.context-date-month, 
.context-date-number-day,
.context-date-number-year {
  font-size: 1.5rem;
}
.context-date-month::before, .context-date-number-year::before {
  content: '';
  position: absolute;
  display: block;
  width: 110px;
  height: 2px;
  left: 50%;
  transform: translate(-50%, -200%);
  background-color: var(--clr-dterracot);
}
.context-date-month::after, .context-date-number-year::after {
  content: '';
  position: absolute;
  display: block;
  width: 110px;
  height: 2px;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: var(--clr-dterracot);
}
#info p {
  max-width: 45ch;
}
#info a {
  margin-top: 1rem;
}
#info aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#info aside ul li {
  margin-bottom: 0.5rem;
}
#info h2 {
  font-size: 2.5rem;
}
#info .time p {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}
#info .time ul li em {
  background-color: var(--clr-dterracot);
  color: var(--clr-lbeige);
  padding: 0.3rem;
  border-radius: 0.2rem;
}
#info .place {
  margin-bottom: 1.25rem;
}
#info .park {
  margin-bottom: 1.5rem;
}
#info #menu-food {
  margin-bottom: 1.75rem;
}
#info #menu-food p {
  margin-bottom: 0.5rem;
}
#cloth-code figure {
  display: flex;
  gap: 1rem;
}
#info #cloth-code {
  margin-bottom: 1.75rem;
}
#info #music {
  margin-bottom: 2.25rem;
}
#info #whatsapp {
  margin-bottom: 2rem;
}
#info #pay {
  margin-bottom: 2rem;
}
#info #donation {
  margin-bottom: 2rem;
}

.images img {
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
}
.images {
  columns: 250px;
  gap: 0.5rem;
}





/* Animations */
/* -Entrance- */
.fade-in-top {
	-webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
/* -Attention- */
.heartbeat {
	-webkit-animation: heartbeat 3s ease-in-out infinite both;
	        animation: heartbeat 3s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-30 2:43:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-30 2:47:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-10-30 2:49:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
