/* ---Fonts--- */

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }

/* ---Styles--- */

body {
    margin: 0;
    font-family: "Merriweather", sans-serif;
    background-color: beige;
}

main {
    padding-inline: 1rem;
}

section {
    padding-inline: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Satisfy", sans-serif;
}

ul, ol {
    list-style: none;
    padding: 0;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.menu-guide {
    display: flex;
    justify-content: space-around;
    background-color: bisque;
}
.menu-guide ul {
    display: flex;
    gap: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-imgs {
  display: flex;
  gap: 1rem;
}
.hero-imgs img {
  width: 250px;
  border-radius: 50% 50% 0 0;
  aspect-ratio: 9 / 11;
  object-fit: cover;
}

.countdown {
  display: inline-flex;
  background-color: crimson;
}

.images img {
  width: 100%;
}
.images {
  columns: 300px
}